html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    background-color: black;
    min-height: 100%;  
    display: flex;
    flex-direction: column;

}

*, html{
    margin: 0;
    padding: 0;
    color: white;
}

::-webkit-scrollbar{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background: #c40b58;
    border-radius: 30px;}

.navbar{
    font-style: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to left, #ff2ca0, #470734, #111A21);
    color: #FEFDF8;
}

.navbar-brand{
    font-size: 22px;
    padding-left: 3px;
}

form{
    margin-left: 23%;
}

.form-group{
    margin-left: 2%;
}

.btn {
    background-color: #c40b58;
    border: transparent;
}

footer{
    background-color: black;
    padding-top: 20px;
    color: white;
    margin-top: auto; /*https://www.youtube.com/watch?v=yc2olxLgKLk*/  
}

@media(max-width:800px){
    form{
        margin-left: 0%;
    }
}

@media(max-width:600px){
    form{
        margin-left: 3%;
    }
}