@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #070008;
}

.principal{
    height: 40em;
    background-image: url('../imagens/games35.jpg');
    background-size: cover;
    z-index:-1;
}

.viper{
    display: flex;
    justify-content: flex-end;
}

.imgviper{
    width: 29em;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}

/* /////////////////// */

.principalDescricao{
    color: white;
    position: absolute;
    top: 10%;
    font-size: 16px;
    height: 500px; /*para caber na tela*/
    display: flex; /*joga nossos elementos pro padrao em linha*/
    flex-direction: column; /*transforma esse padrao em linha em colunas*/
    justify-content: center; 
    align-items: flex-start;
}

.principalDescricao .descricao{
    width: 100%;
  
}

.descricao{
    margin-left: 2%;
    font-size: 1.8em;
}

.titulo{
    font-size: 700%;
    margin-bottom: 1%;
    margin-top: 20px;
    font-weight: bold;
    color: #f5f3f3;
    width : cover;
    animation: animate 5s linear infinite;
}

.logo{
    padding: 0;
    text-shadow: 0 0 10px #c40b58,
        0 0 20px #c40b58,
        0 0 40px #c40b58,
        /* 0 0 80px #c40b58,
        0 0 160px #c40b58; */
}

@keyframes animate{
    0%, 18%, 20%, 50.1%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #f0e0e7;
        text-shadow:none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0 0 10px #c40b58,
        0 0 20px #c40b58,
        0 0 40px #c40b58,
        0 0 80px #c40b58,
        0 0 160px #c40b58;
    }
}

.botao{
    width: 18rem;
    height: 5rem;
    background-color: #c40b58;
    border: none; /*ele vem com valor padrao, entao tenho q tirar*/
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-right: 20px;
    font-size: 12px;
    cursor: pointer;
    transition: 1s ease all; /*mudar cor suavement*/
    overflow: hidden;
}


.botao i{
    margin-right: 1%;
    font-size: 1em;
    padding: 5px;
}

.titulobotoes{
    font-size: 7em;
    font-style: normal;
}

.container{ 
    margin-left: 30px;

}

.principalDescricao .container{ /*apenas o container q esta em principal*/
    width: 70%;
}

.separador{
    margin-top: 5%;
}

.btn{
    border: none;
}

.main-container{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-corpo{
    margin-left: 10%;
    width: auto;
    display: flex;
    justify-content: center;    
    align-items: center;

}

strong {    
    text-shadow: 0 0 1px #c40b58,
            0 0 2px #c40b58,
            0 0 4px #c40b58,
            0 0 8px #c40b58,
            0 0 16px #c40b58;
}

.texto-corpo{
    border-color: #5B0C65;
    display: flex;
    justify-content: center;
    font-size: 160%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: -10%;
    font-weight: bold;
    color: #f5f3f3;
    width: 100%;    
    text-shadow: 0 0 1px #c40b58,
                 0 0 16px #c40b58;
}

 .btn-change7{
    background: #c40b58;
    margin: 20px;
    float: left;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    /* -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear; */
    box-shadow:0px 0 0 #810a3b  inset;
}
.btn-change7:hover{
    box-shadow:300px 0 0 #83063a inset;
}

/* BOOTSTRAP PARTE DOS CARDS DE PRICING */

.planos{
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #f5f3f3;
    width: 100%;
    text-shadow: 0 0 1px #c40b58,
            0 0 2px #c40b58,
            0 0 4px #c40b58,
            0 0 8px #c40b58,
            0 0 16px #c40b58;
}

section.pricing {
    background: #edeef0;
    background: linear-gradient(to bottom, #000000, #631741);
    padding-left: 6%;
}
  
.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.pricing hr {
    margin: 1.5rem 0;
}
  
.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}
  
.pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
.pricing .card-price .period {
    font-size: 0.8rem;
  }
  
.pricing ul li {
    margin-bottom: 1rem;
  }
  
.pricing .text-muted {
    opacity: 0.7;
  }
  
.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    background: #c40b58;
  }

.detalhes{
      margin-bottom: 3%;
  }

.accordion-item{
    width: 90%;
    color: black;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer{
      display: flex;
      justify-content: center;
}

footer{
    padding-left: 5%;
}

.infoAdicionais{
    padding-top: 5%;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: #83063a;
    border-radius: 15px;
}

.navbar{
    background-image: linear-gradient(to left,#ff2ca0,#470734,#111A21);
    font-family: 'Roboto Condensed', sans-serif;
}


@media (min-width: 992px) {

    .principalDescricao{
        margin-top: 3%;
    }

    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }

    .sectiondois{
        font-size: 150%;
    }
}

@media(min-width: 1750px){
    .planosDisponiveis{
        margin-left: 10%;
    }
}

  @media (min-width: 970px) {

    .principalDescricao{
        margin-top: 4%;
    }
}

  @media(max-width: 950px){

    .principalDescricao{
        margin-top: 4%;
    }

    .titulo{
        font-size: 650%;
    }

    .viper{
        display: none;
    }

    .sectiondois{
        font-size: 130%;
        margin-left: -7%;
    }

    .infoAdicionais{
        font-size: 230%;
        display: flex;
        text-align: center;
    }
}

  @media(max-width: 800px){

    .principalDescricao{
        margin-left: 7%;
    }

    .botao{
        width: 70%;
    }
    .titulo{
        font-size: 500%;
    }     

    .img-corpo{
        display: none;
    }

    .texto-corpo{
        justify-content: center;
        margin-left: 5%;
        font-size: 120%;
    }

    .planosDisponiveis{
        width: 70%;
        text-align: center;
    }
    
    .sectiondois{
        font-size: 110%;
    }
  
  }

  @media(max-width: 680px){
    .titulo{
        font-size: 280%
    }

    .principalDescricao{
      margin-top: 12%;
  }
}

  @media(max-width: 600px){
      .titulo{
          font-size: 260%
      }

      .principalDescricao{
        margin-top: 12%;
    }
  }

  @media(max-width: 450px){
      .titulo{
          font-size: 280%;
      }
  }

  @media(max-width: 400px){
      .titulo{
          font-size: 200%;
      }
  }